# SPDX-FileCopyrightText: 2014-2021 Sequent Tech Inc <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

*.sqlite
*.kdev4
*.pyc
custom_settings.py
frestq.egg-info/
MANIFEST
build/
dist/
