# SPDX-FileCopyrightText: 2014-2021 Sequent Tech Inc <legal@sequentech.io>
#
# SPDX-License-Identifier: AGPL-3.0-only

recursive-include frestq *.py
recursive-include docs *.md
include *md *txt AUTHORS